.head_unlimited_movies{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0f67308d-db59-4393-9502-8e475c69a0b5/abb0b303-9b1b-4777-976c-af9f0a0fb58a/BD-en-20200928-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
￼   overflow-x: hidden;
    
    display: block;
}
.header{
    justify-content: space-between;
    top: 0;
    margin: 0%;
    display: block;
    width:100% ;
    height: inherit;
    background: rgba(0, 0, 0, 0.664);
    position: absolute;
    transition: background-color .5s;
￼    
}
.netflix-logo{
    margin-left: 45px ;
    background-color: transparent;
    height: 90px;
}
.button__signin{
    border: 0;
    border-radius: 3px;
    line-height: normal;
    margin-top: 35px;
    margin-right: 35px;
    background-color:#e50914;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
￼   padding: 7px 17px;
    cursor: pointer;
    float: right;
    height: 35px;
    weight: 35px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

}
.head__info{
    margin-top: 150px;
    position: absolute;
    color: white;
    display: block;
    align-items: center;
    width: 100%;
￼   max-width: 950px;
￼   text-align: center;
￼   

}
.title_unlim{
    text-align: center;
    font-size: 3.125rem;
    display: block;
    font-weight: bold;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    
    
}
.title_watch{
    margin-top:445px ;
    text-align: center;
    
    font-size: 1.625rem;
    display: block;
    margin: 1rem auto;
    font-weight: normal;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.email-form{
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 360px;
    color: white;
    align-items: center;
    width: 100%;
   
}
.email-title{
    margin-top: 35px;
￼    text-align: center;
    font-weight: normal;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.email{
    
    width: 480px;
     height: 50px;
     border: 0;
     
}

.get-started-button{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-bottom: 8px;
    width: 250px;
    height: 52px;
    margin: 0%;
    background-color:#e50914;
    color: white;
    cursor: pointer;
    font-size: 25px;
    border: 0;
}