@import "head_unlimited_movies.css";
@import "enjoy_on_tv.css";
@import "download_watch_offfline.css";
@import "watch_everywhere.css";
@import "freequently_asked-qs.css";
@import "footer.css";

.main{
    background-color:rgb(36, 33, 33);
    margin: auto;
    display: block;

}
